@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);
@import url(normalize.css);

/*fuentes de icomoon*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-29m7c5');
	src:url('../fonts/icomoon.eot?#iefix-29m7c5') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-29m7c5') format('truetype'),
		url('../fonts/icomoon.woff?-29m7c5') format('woff'),
		url('../fonts/icomoon.svg?-29m7c5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
	content: "\f003";
}
.icon-user:before {
	content: "\f007";
}
.icon-home2:before {
	content: "\f015";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-facebook-square:hover{
	color: yellow;
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-mobile:before {
	content: "\f10b";
}



/*estilos del header*/

.u-link{
	text-decoration: none;
	list-style: none;
}
.Header{
	background: rgba(0,0,0,.3);
	width: 100%;
	height: 5em;
	position: fixed;
	top: 0;
	z-index: 1;
}
.HeaderImage{
	width: 180px;
	padding: .2em 0 0 1em;
}
.MainMenu{
	position: absolute;
	display: inline-block;
	right: 0;
	margin: 1.9em 1em 0 0;
}
.MainMenu-list{
	margin-left: 3em;
	display: inline-block;

}
.MainMenu-link{
	text-transform: uppercase;
	position: relative;
	color:#fff;
	font-size: 1.3em;
	line-height: 0;
}

/* estiloas del Landing*/

.Landing{
	background: url(../img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 700px;
}
.Landing-description{
	text-align: center;
	position: absolute;
	bottom: 2em;
}
.TitleFh{
	font-size: 2.5em;
	color: #021252;
	text-shadow: 2px 3px 3px #D3DCE6;
}
.TitleFh-description{
	font-weight: 300;
	font-size: 1.3em;
	width: 60%;
	text-align: justify;
	margin: 0 auto;
	margin-bottom: 2em;
	color: #FDFDFD;
	text-shadow: 1px 1px 3px #000;
}
.LandingButton{
 	font-size: 1.7em;
 	border: solid rgba(255,255,255,.8) 2px;
 	border-radius: .2em;
 	padding: .5em 1em;
 	box-shadow: 0px 3px 1px #03FF38;
}
.LandingLink{
 	color: rgba(255,255,255,.9);
	text-shadow: 1px 2px 3px #000;
}
.Landing-social{
	margin-top: 1em;
	list-style: none;
	font-size: 1.7em;
}
.LandingList{
	display: inline-block;
}
.Landing-link{
	color: #fff;
	font-size: 1.7em;
	margin-right: 1em;
}

/*estilos de la descricion*/

.Description{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 3.5em;
}
.Description-title{
	font-size: 1.3em;
}
.Description-Text{
	width: 50%;
	display: inline-block;
	vertical-align: 9em;
	text-align: justify;
}

/*video*/

.Video{
	margin-top: 2em;
	text-align: center;
	border-top: 1px solid #BEBDBD;
	padding-top: 1.2em;
}

/*customers*/

.Customers{
	border-top: 1px solid #BEBDBD;
}
.Customers-list{
	padding-top: 1em;
	display: inline-block;
	list-style: none;
	margin-right: 1.5em;
}
.Customers-link{
	width: 100%;
}

/*footer*/

.Footer{
	background: url(../img/bgfooter1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 100%;
	padding: 1em;
	position: relative;
}
/*.Suscription{
	font-size: 2em;
	color: #fdfdfd;
	line-height: 0;
}
.FooterSocial-list{
	list-style: none;
	display: inline-block;
}
.FooterSocial-link{
	font-size: 2.7em;
	color: #fdfdfd;
	margin-right: 1em;
}*/
.FooterTsd-link{
	display: block;
	width: 25%;
	margin: 0 auto;
	padding-top: 1em;
	
}
.Footer-imagetsd{
	width: 230px;
}
.FooterContacto{
	width: 30%;
	display:inline-block;
	vertical-align: top;
}
.Footer-contacto{
	padding-top: 1em;
	font-size: 5em;
	/*color: #898989;*/
	color: #021252;
	margin: .2em;
}
.FooterInfo{
	/*color: #BDBDBD;*/
	color: #fff;
	font-size: 1.3em;
	font-weight: 500;
	text-shadow: 2px 2px 4px #021252;
}
.Copy{
	font-size: 1.1em;
	color: #219ace;
	font-weight: 700;
	background: #000;
	/*width: 100%;*/
	padding: 1em;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
}

/*formulario*/

.Formulario{
	margin: 8em 0 3em 0;
	text-align: center;
	/*margin: 0 auto;*/
}
.Form{
	/*text-align: left;*/
}