<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Full House</title>
	<link rel="stylesheet" href="../static/css/estilos.css">
	
</head>
<body>
	<!-- Header -->
	<header class="Header">
		<nav Class="HeaderNav">
			<img class="HeaderImage"src="../static/img/logo4.png" alt="">
			<ul class="MainMenu">
				<li class="MainMenu-list"><a class="u-link MainMenu-link icon-home2" href="#"></a></li>
				<li class="MainMenu-list"><a class="u-link MainMenu-link" href="#">Servicio</a></li>
				<li class="MainMenu-list"><a class="u-link MainMenu-link" href="#">Demo</a></li>
				<li class="MainMenu-list"><a class="u-link MainMenu-link" href="#">Contacto</a></li>
				<li class="MainMenu-list"><a class="u-link MainMenu-link icon-user"  href="#"></a></li>
			</ul>
		</nav>
	</header>
	<!-- landing -->
	<section class="Landing">
		<div class="Landing-description">
			<h1 class="TitleFh">Sistema de Gestion Hotelera </h1>
			<p class="TitleFh-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque repellendus harum quibusdam magni veritatis sit maxime corrupti vitae rerum, excepturi, culpa labore, fugit accusamus fugiat officiis vel praesentium ipsa.</p>
			<p class="LandingLink-item"><span class="LandingButton"><a class="LandingLink u-link" href="">Version de Prueba</a></span></p>
			<ul class="Landing-social">
				<li class="LandingList"><a class="Landing-link u-link icon-facebook-square" href="#"></a></li>
				<li class="LandingList"><a class="Landing-link u-link icon-twitter-square" href="#"></a></li>
				<li class="LandingList"><a class="Landing-link u-link icon-google-plus-square" href="#"></a></li>
			</ul>
		</div>
	</section>
	<!-- descripcion del servicio -->
	<section class="Description">
		<h2 class="Description-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
		<p class="Description-Text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eveniet minima tempore non temporibus repellat quos natus aut veniam inventore eum perspiciatis, quasi nihil, consequatur accusantium in, commodi ullam ipsum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quidem. Laboriosam, suscipit! Tenetur atque eligendi, maiores quia hic deleniti voluptate, quidem, velit voluptatibus nostrum eaque, excepturi vitae a modi dolore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis porro incidunt, facilis vel nulla esse debitis unde deleniti numquam ea, totam architecto nemo tenetur eos eum laudantium alias temporibus sequi?</p>
		<img class="Description-image" src="../static/img/img2.png" alt="">
	</section>
	<!-- video demo -->
	<section class="Video"> 
		<iframe width="640" height="360" src="https://www.youtube.com/embed/A_pIvHnMj0o?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
		<ul class="Customers">
			<li class="Customers-list"><a class="Customers-link u-link" href="#"><img src="../static/img/6.png" alt=""></a></li>
			<li class="Customers-list"><a class="Customers-link u-link" href="#"><img src="../static/img/apple_logo.png" alt=""></a></li>
			<li class="Customers-list"><a class="Customers-link u-link" href="#"><img src="../static/img/Encarta_Logo.png" alt=""></a></li>
			<li class="Customers-list"><a class="Customers-link u-link" href="#"><img src="../static/img/google-play-logo.png" alt=""></a></li>
			<li class="Customers-list"><a class="Customers-link u-link" href="#"><img src="../static/img/Uncyclopedia-logo.png" alt=""></a></li>
		</ul>
	</section>
	<!-- footer -->
	<footer class="Footer">
		<h4 class="Suscription">Suscribete</h4>
		<ul class="FooterSocial">
			<li class="FooterSocial-list"><a class="FooterSocial-link u-link icon-facebook-square" href="#"></a></li>
			<li class="FooterSocial-list"><a class="FooterSocial-link u-link icon-twitter-square" href="#"></a></li>
			<li class="FooterSocial-list"><a class="FooterSocial-link u-link icon-google-plus-square" href="#"></a></li>
		</ul>
		<p class="Copy">By TSD 2015</p>
	</footer>
</body>
</html>